BR2_x86_64=y
BR2_CCACHE=y
BR2_CCACHE_DIR="$(HOME)/.buildstaq-ccache"
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_KERNEL_HEADERS_VERSION=y
BR2_DEFAULT_KERNEL_VERSION="5.4.33"
BR2_BINUTILS_VERSION_2_33_X=y
BR2_GCC_VERSION_9_X=y
BR2_TARGET_GENERIC_HOSTNAME="open-corestaq"
BR2_TARGET_GENERIC_ISSUE="Welcome to Open Corestaq"
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
BR2_TARGET_GENERIC_ROOT_PASSWD="1234"
BR2_ENABLE_LOCALE_WHITELIST="C en_GB.UTF8"
